<div id="background">
<div class="row">
        <div class="card col-md-4 offset-md-4 custom_panel" style="margin-top: 3%;" id="card">
            <div style="margin: 3%">
                <form>
                  <div style="text-align: center;">
                     <h3>Log in Your Account: </h3>
                  </div> 
                    <form>
                        <div class="form-group">
                            <label for="email">Email address</label>
                            <input [(ngModel)]="email" name="emailform"type="email" class="form-control" id="emailBox" aria-describedby="emailHelp" placeholder="Enter email">
                            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input [(ngModel)]="password" name="passwordform" type="password" class="form-control" id="password" placeholder="Password">
                        </div>
                        <button type="submit" class="btn btn-primary" (click)="logIn()">Submit</button>
                        </form>

                        <div *ngIf="tokenService.token">
                            <label for="jwt">JWT Token</label>
                                <div class="input-group mb-3 col-12">
                                    <input [(ngModel)]="tokenService.token" type="text" name="jwt" id="jwt" class="form-control" placeholder="JWT Token" readonly>
                                </div>
                            </div>
                              
                    
                
