#ul1 
    -webkit-columns: 3
    -moz-columns: 3
    columns: 3

#ul2
    -webkit-columns: 3
    -moz-columns: 3
    -columns: 3

#background
    background-image: url(src/assets/wes-hicks-MEL-jJnm7RQ-unsplash.jpg)
    background-position: top center
    /* background-position-y: %; */
    background-size: 100% 112%
    background-repeat: no-repeat
    background-attachment: fixed

.card
    background-color: lightgrey