
<div id="background">
    <div class="row">
            <div class="card col-md-4 offset-md-4 custom_panel" style="margin-top: 3%;" id="card">
                <div style="margin: 3%">
            <div class="card-header">
            Feel the Music
        
            <div class="card-body">
            <h5 class="card-title">Harmonize</h5>
            <p class="card-text">{{welcome}}</p>
            <p class="card-text">{{mission}}</p>
            <a href="/profile" class="btn btn-primary">Go somewhere</a>
            </div>
      </div>
    </div>
</div>